.title {
  font-size: x-large;
  font-weight: 700;
}

.daily-item {
  background-color: #fff;
  border-radius: 2em;
  height: 2.5em;
  margin: 0.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: medium;
  padding: 0.5em;
}

.icon-small {
  width: 2.5em;
}

.date {
  color: #212121;
  flex: 1 1;
  font-weight: 600;
  margin-left: 1em;
}

.description {
  flex: 1 1;
  margin-right: 1em;
  text-align: right;
}

.forecast-temperature {
  color: #757575;
}

.daily-details-grid {
  grid-row-gap: 0;
  grid-column-gap: 1em;
  row-gap: 0;
  column-gap: 1em;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 0.25em 1em;
}

.daily-details-grid-item {
  display: flex;
  height: 2em;
  justify-content: space-between;
  align-items: center;
}

.daily-details-grid-item label:first-child {
  color: #757575;
}

.daily-details-grid-item label:last-child {
  color: #212121;
}
