.weather {
  align-self: center;
  max-width: 800px;
  border-radius: 2em;
  box-shadow: 0.625em -0.125em 1.25em 0.125em #ff9494;
  color: #ff9494;
  background-color: #ffe3e1;
  margin: 1em 0 4em 0;
  padding: 2em;
}

.city {
  font-weight: 600;
  font-size: x-large;
  margin: 0;
  letter-spacing: 0.0625em;
}

.weather-description {
  font-weight: 400;
  font-size: x-large;
  margin: 0;
}

.weather-icon {
  width: 10em;
}

.temperature {
  font-weight: 600;
  font-size: 5em;
  width: auto;
  letter-spacing: -0.0125em;
  margin: 0.125em 1em 0.125em 0.25em;
}

.details {
  padding: 1em;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: large;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: large;
}

@media (min-width: 800px) {
  .top,
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .details {
    width: 100%;
  }
}
